[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
advent-of-code-data = {version = "*", extras = ["nb"]}
invoke = "*"
rich = "*"
shapely = "*"
pytest = "*"
networkx = "*"
numpy = "*"
sympy = "*"
icecream = "*"

[dev-packages]
pdbpp = "*"
trepan3k = "*"

[requires]
python_version = "3.11"
